<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher_ic_cart"
        android:label="ONEIT"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperCart"
        android:authorities="${applicationId}.content-provider"
        tools:targetApi="31">
        <activity
            android:name=".DetailActivitytest"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homeActivity"
            android:label="homeactivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SignupActivity"
            android:label="signupactivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".basketlistActivity"
            android:label="basketlistactivity" />
        <activity
            android:name=".settingActivity"
            android:label="settingactivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".paymentActivity"
            android:label="paymentactivity" />
        <activity
            android:name=".userActivity"
            android:label="useractivity" />
        <activity
            android:name=".test1Activity"
            android:label="test1Activity" />
        <activity
            android:name=".test2Activity"
            android:label="test2Activity" />
        <activity
            android:name=".FireStoretestActivity"
            android:label="FireStoretestActivity"/>
        <activity
            android:name=".thankyouActivity"
            android:label="thanlyouActivity"/>
    </application>

</manifest>